[firmware_retraction]
retract_length: 1
retract_speed: 20
unretract_extra_length: 0
unretract_speed: 10

#####################################################################
#     Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 10800

[quad_gantry_level]
gantry_corners:
    -60,-10
    360,370
points:
    30,30
    30,270
    270,270
    270,30
speed: 400
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.04
max_adjust: 10
adaptive_horizontal_move_z: True

[bed_mesh]
speed: 300
horizontal_move_z: 25
mesh_min: 40, 40
mesh_max: 260,260
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5
algorithm: bicubic
zero_reference_position: 150, 150

# [safe_z_home]
# home_xy_position: 206,302
# speed: 100
# z_hop: 10

[z_calibration]
## Documentation here https://github.com/protoloft/klipper_z_calibration
# Coordinates for clicking the nozzle on the Z endstop.
nozzle_xy_position: 201, 302
# The X and Y coordinates (in mm) for clicking the probe's switch on the Z endstop.
switch_xy_position:  207, 282
# Larger values move the nozzle closer to the bed:
switch_offset: 3.942

# Speed
speed: 50
probing_first_fast: true

# Safety:
offset_margins: -2.0, 1.0
position_min: -3
safe_z_height: 10

# Klicky support:
start_gcode: Dock_Probe_Unlock
before_switch_gcode: Attach_Probe
end_gcode: Dock_Probe


#####################################################################
#     ADXL Resonance Mapping
#####################################################################

# [mcu rpi]
# serial: /tmp/klipper_host_mcu
#
# [adxl345]
# cs_pin: rpi:None


[adxl345]
cs_pin: toolhead:PA4
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20

[input_shaper]
shaper_freq_x: 73.8
shaper_freq_y: 34.6
shaper_type: zv
